.carousel-item img {
    height: 70vh;
}

.carousel-caption{
    font-family: 'Provicali', sans-serif;
}

h5{
    background-color: #000000;
    width: fit-content;
    margin: auto;
    padding: 5px 10px 5px 10px;
}
